{% load wagtailimages_tags wagtailcore_tags %}

<div class="col-span-10 col-start-1 lg:col-start-2">
    <div class="grid grid-cols-1 gap-4 m-10 mx-auto md:grid-cols-2 drop-shadow-2xl rounded-2xl">
        <div class="p-10">
            {% picture value.image format-{avif,webp,jpeg} width-500 %}
            {% if value.caption %}<p class="text-base leading-6 text-center text-gray-500">{{ value.caption }}</p>{% endif %}
        </div>
        <div class="px-5 md:p-10 {% if value.alignment == "right" %}sm:order-1{% endif %}">
            {{ value.text|richtext }}
        </div>
    </div>
</div>