{% extends "pages/base_page.html" %} {% load wagtailcore_tags %} {% block
content %}
<article class="container mx-auto px-5 pb-10">
  <h1
    class="mt-5 text-2xl font-bold leading-10 tracking-tight text-indigo-600 sm:text-5xl"
  >
    {{ page.title }}
  </h1>
  <p class="text-base leading-6 text-gray-500">
    Published {{ page.date | date }}
  </p>

  <div class="w-7/10 rich-text mx-auto py-10">
    {% include_block page.body %}
  </div>

  <a class="text-base leading-6 text-gray-500" href="{{ page.get_parent.url }}"
  >← Blog index</a
    >
  </article>
  {% endblock content %}
