{% extends "pages/base_page.html" %}
{% load wagtailcore_tags %}
{% block content %}
  {% include_block page.body %}

  <div class="bg-black">
    <div class="mx-auto max-w-6xl p-6 lg:px-8 bg-black lg:col-start-2">
      <div
        class="mx-auto grid grid-cols-1 rounded-2xl drop-shadow-2xl md:grid-cols-2 py-12 sm:py-16"
      >
        <div class="flex w-3/4 flex-col justify-between px-5">
          <h1 class="text-2xl font-bold text-white md:text-4xl lg:text-6xl">
            HOW WILL DIGITAL INFRASTRUCTURE
            <span class="text-brand-purple">MEET THE DEMANDS OF AI?</span>
          </h1>
          <p class="mt-2 text-lg text-white md:text-xl lg:text-2xl">
            Join us in Las Vegas on October 7-9 for an epic large-scale show
            exploring where this trillion dollar industry goes next...
          </p>
        </div>
        <div class="">
          <div
            class="aspect-square relative mx-auto overflow-hidden border-2 border-white bg-black bg-cover bg-center bg-no-repeat lg:scale-100"
          >
            <div class="absolute left-0 right-0 top-[2px] mx-auto w-full">
              <img
                class="rotate-anti-clock w-full"
                src="https://custom-eur.cvent.com/42ADAFD233B74F5BA9900156EA015E51/pix/68d118a9cf524683bff6e8039c43bbaf.png"
              />
            </div>
            <div class="absolute left-0 right-0 top-[45px] mx-auto w-[85%]">
              <img
                class="rotate-clock w-full"
                src="https://custom-eur.cvent.com/42ADAFD233B74F5BA9900156EA015E51/pix/e087d1863bfc4c9faae6f08b6bb00cdd.png"
              />
            </div>
            <div class="absolute left-0 right-0 top-[90px] mx-auto w-[70%]">
              <img
                class="rotate-anti-clock w-full"
                src="https://custom-eur.cvent.com/42ADAFD233B74F5BA9900156EA015E51/pix/2ea1a5c5955c41aeaa7a355b35b78c55.png"
              />
            </div>
            <div class="absolute left-0 right-0 top-[135px] mx-auto w-[55%]">
              <img
                class="rotate-clock w-full"
                src="https://custom-eur.cvent.com/42ADAFD233B74F5BA9900156EA015E51/pix/5b53f79606bc495a867e33eb6af6c1b3.png"
              />
            </div>
            <div
              class="absolute left-0 right-0 top-[35%] mx-auto w-full max-w-[425px]"
            >
              <img
                src="https://custom-eur.cvent.com/42ADAFD233B74F5BA9900156EA015E51/pix/d0d655315f9c47f69c79f112f4b5b44a.png"
                class="w-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-6xl py-12 sm:py-16 bg-white">
    <div class="mx-auto max-w-6xl items-center justify-between p-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 gap-4">
      <img
        class="fit-content h-[480px] mx-auto"
        srcset="
                https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?d=320&f=webp  320w,
                https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?d=480&f=webp  480w,
                https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?d=768&f=webp  768w,
                https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?d=992&f=webp  992w,
                https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?f=webp       1232w
               "
        src="https://images-eur.cvent.com/pr53/42adafd233b74f5ba9900156ea015e51/pix/6151aafd9b11420a8dd2a609d30299a8!_!315d1e131bf2dadef8e9fc82ca800872.png?f=webp"
      />
      <div class="flex flex-col">
        <div class="mb-6">
          <h2 class="font-extrabold text-4xl">BIG THEMES FOR 2024</h2>
          <p class="font-bold">On-stage content at Yotta 2024 will focus on 7 key pillars that will define the future of digital infrastructure, led by C-level leaders from across the entire industry ecosystem.</p>
          <ol class="list-disc font-bold text-xl pl-5">
            <li>THE AI-READY DATA CENTER</li>
            <li>DEPLOYING AI COMPUTE</li>
            <li>SCALING DIGITAL INFRASTRUCTURE SUSTAINABLY</li>
            <li>THE DATA CENTER OF THE FUTURE</li>
            <li>THE INTERSECTION OF DATA AND ENERGY</li>
            <li>THE DIGITAL INFRASTRUCTURE ECONOMIC FORUM</li>
            <li>NETWORK, EVERYWHERE, ALL AT ONCE</li>
            <li>DEEP DIVE — INTELLIGENT INFRASTRUCTURE</li>
          </ol>
          <p class="font-bold">In addition, the Yotta experience will offer 100+ sponsors in a jam-packed expo hall, 20+ Shark-tank style demos, thousands of 1:1 meetings, countless networking dinners and parties, and an epic closing party that the industry won't soon forget.</p>
        </div>
        <a href="#" class="mx-auto ml-0 rounded-md bg-brand-green px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:text-white hover:bg-brand-purple focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-green">Register</a>
      </div>
    </div>
  </div>
  <div class="bg-brand-purple py-12 sm:py-16">
    <div class="mx-auto max-w-6xl p-6 lg:px-8 lg:col-start-2">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <h2 class="text-6xl font-bold tracking-tight text-white">THE <span class="text-brand-green">YOTTA</span> CROWD</h2>
        <p class="mt6 sm:mt-0 text-lg leading-8 text-white">At Yotta 2024, senior leaders and solution providers will get together to learn and make connections that will hasten the digital infrastructure convergence that’s already underway. And they’ll leave with the “a-ha” insights and connections required to imagine, and then build, a world that meets tomorrow’s challenges.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2: lg:grid-cols-4 pt-10">
        <div class="border-white border-2 text-white p-4">
            <h3>ENTERPRISE IT EXECS<h3>
            <p>Enterprise technology leaders, including CIOs, CTOs, Chief Data Officers, Network Architects, Procurement, Operations and more.</p>
        </div>
        <div class="border-white border-2 text-white p-4">
            <h3>ENTERPRISE IT EXECS<h3>
            <p>Enterprise technology leaders, including CIOs, CTOs, Chief Data Officers, Network Architects, Procurement, Operations and more.</p>
        </div>
        <div class="border-white border-2 text-white p-4">
            <h3>ENTERPRISE IT EXECS<h3>
            <p>Enterprise technology leaders, including CIOs, CTOs, Chief Data Officers, Network Architects, Procurement, Operations and more.</p>
        </div>
        <div class="border-white border-2 text-white p-4">
            <h3>ENTERPRISE IT EXECS<h3>
            <p>Enterprise technology leaders, including CIOs, CTOs, Chief Data Officers, Network Architects, Procurement, Operations and more.</p>
        </div>

      </div>
    </div>
  </div>
  <div class="bg-white py-12 sm:py-16">
    <div class="relative mx-auto max-w-6xl">
      <h2 class="text-center text-3xl font-semibold leading-8 mb-6">Partners</h2>
      <div class="relative sided-gradient max-w-[80vw] mx-auto p-20 m-0 overflow-hidden">
        <div class="absolute flex gap-4 w-auto left-0 top-0"
             style="white-space: nowrap; animation: marquee 250s linear infinite;">
                <!-- Multiple images, repeated as needed -->
          {% with count="1223409821091029" %}
            {% for char in count %}
              <img class="w-auto object-contain" src="https://source.unsplash.com/random/158x80.svg" width="158" height="80">
                <!-- Repeat other images similarly -->
            {% endfor %}
          {% endwith %}
      </div>
        </div>
      </div>
    </div>
    <div class="bg-black py-12 sm:py-16">
      <div class="mx-auto max-w-6xl p-6 lg:px-8 bg-black lg:col-start-2">
        <div class="mx-auto flex flex-col items-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl" >Main stage</h2>
          <p class="mt-6 text-lg leading-8 text-white text-center">As the first-ever event that covers the entire digital infrastructure ecosystem, Yotta is proud to share its confirmed keynote speakers. These visionaries represent key elements that will be covered in-depth at Yotta: The future of the data center, deploying AI compute, network, sustainability and the demands that enterprise IT leaders are placing on digital infrastructure providers. Stay tuned — more speakers coming soon!</p>
        </div>
        <ul role="list" class="mx-auto max-w-3xl mt-20 grid grid-cols-1 gap-x-8 gap-y-14 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          {% with count="12345678" %}
            {% for char in count %}
              <li class="flex flex-col items-center">
                <img class="rounded-2xl object-cover" src="https://source.unsplash.com/random/160x223" alt="">
                <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-white">A lovely person</h3>
                <p class="text-base leading-7 text-gray-300">Co-Founder / CEO</p>
                <p class="text-sm leading-6 text-gray-500">Bristol, UK.</p>
              </li>
            {% endfor %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </div>

{% endblock content %}
</div>
