{% extends "pages/base_page.html" %}
{% load wagtailcore_tags static %}
{% block content %}
  <div class="bg-black">
    <div class="mx-auto max-w-6xl p-6 lg:px-8 bg-black lg:col-start-2">
      <div
        class="mx-auto grid grid-cols-1 rounded-2xl drop-shadow-2xl md:grid-cols-2 py-12 sm:py-16"
      >
        <div class="flex w-3/4 flex-col justify-between px-5 uppercase">
          <h1 class="text-2xl font-bold text-white md:text-4xl lg:text-6xl">
            {{ page.title_start }}
            <span class="text-brand-purple">{{ page.title_end }}</span>
          </h1>
          <p class="pb-6 sm:pb-0 mt-2 text-lg text-white md:text-xl lg:text-2xl">
            {{ page.intro }}
          </p>
        </div>
        <div>
          <div
            class="aspect-square relative mx-auto overflow-hidden border-2 border-white bg-black bg-cover bg-center bg-no-repeat lg:scale-100"
          >
            <div class="absolute left-0 right-0 top-[2px] mx-auto w-full">
              <img
                class="rotate-anti-clock w-full"
              />
            </div>
            <div class="absolute left-0 right-0 top-[45px] mx-auto w-[85%]">
              <img
                class="rotate-clock w-full"
                src="{% static "images/clock-2.png" %}"
              />
            </div>
            <div class="absolute left-0 right-0 top-[90px] mx-auto w-[70%]">
              <img
                class="rotate-anti-clock w-full"
                src="{% static "images/clock-3.png" %}"
              />
            </div>
            <div class="absolute left-0 right-0 top-[135px] mx-auto w-[55%]">
              <img
                class="rotate-clock w-full"
                src="{% static "images/clock-4.png" %}"
              />
            </div>
            <div
              class="absolute left-0 right-0 top-[35%] mx-auto w-full max-w-[425px]"
            >
              <img
                src="{% static "images/yotta-2024-logo.png" %}"
                class="w-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include_block page.body %}

{% endblock content %}
</div>
