<div
  id="cookie-policy"
  class="pointer-events-none fixed inset-x-0 bottom-0 z-10 px-6 pb-6"
>
  <div
    class="pointer-events-auto mx-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10"
  >
    <p class="text-sm leading-6 text-gray-900">
      We use cookies, keep browsing if you're happy with this, or read our
      privacy policy.
    </p>
    <div class="mt-4 flex items-center justify-between gap-x-5">
      <button
        type="button"
        id="dismiss-cookie-policy"
        class="focus-visible:outline-brand-turquoise-400 upper flex justify-center bg-brand-green px-3 py-1.5 text-sm font-bold leading-6 text-black shadow-sm hover:bg-brand-purple hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Dismiss
      </button>
      <a
        class="hover:text-brand-blue text-sm font-bold text-brand-purple"
        href="/privacy-policy"
      >
        Privacy Policy
      </a>
    </div>
  </div>
</div>
