<div
  id="cookie-policy"
  class="pointer-events-none fixed inset-x-0 bottom-0 z-10 px-6 pb-6"
>
  <div
    class="pointer-events-auto mx-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10"
  >
    <p class="text-sm leading-6 text-gray-900">
      We use cookies for essential site functionality only.
    </p>
    <p class="pt-2 text-sm leading-6 text-gray-900">
      By continuing to use our site, you agree to our use of these necessary
      cookies.
    </p>
    <div class="mt-4 flex items-center justify-between gap-x-5">
      <button
        type="button"
        id="dismiss-cookie-policy"
        class="bg-brand-turquoise hover:bg-brand-pink focus-visible:outline-brand-turquoise-400 flex justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-brand-purple shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Dismiss
      </button>
      <a class="hover:text-brand-blue text-brand-purple" href="/privacy-policy">
        Privacy Policy
      </a>
    </div>
  </div>
</div>
