{% load static %}
<header class="bg-black">
  <nav id="menu" class="mx-auto flex max-w-6xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-none">
      <a href="#" class="-m-1.5 p-1.5 flex items-center">
        <span class="sr-only">Yotta</span>
        <img class="h-8 w-auto" src="{% static "images/yotta_logo_small.webp" %}" alt="">
        <span class="text-brand-purple font-extrabold text-sm border-l-2 border-brand-purple pl-2"><p>Oct. 7-9 2024</p> <p>MGM Grand, Las Vegas</p></span>
      </a>
    </div>
    <div id="open-mobile-menu-button" class="flex lg:hidden">
      <button data-open-menu type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md  text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6 text-brand-purple" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <!-- Primary nav -->
    <div class="hidden lg:flex lg:justify-evenly lg:w-full lg:mx-auto">
      {% for item in primarynav %}
        {% if item.value.children %}
          <div class="relative h-full">
            <button id="dropdown-button" data-menu-button="{{ forloop.counter }}" type="button" class="group hover:text-brand-purple font-extrabold flex items-center gap-x-1 text-sm uppercase leading-6 text-white" aria-expanded="false">
              {{ item.value.title }}
              <svg class="h-5 w-5 flex-none text-gray-400 group-hover:text-brand-purple" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
            <!-- Dropdown menu, show/hide based on button state. -->
            <div id="dropdown-menu" data-menu-dropdown="{{ forloop.counter }}" class="absolute hidden w-max -left-8 top-full z-10 mt-3 max-w-md overflow-hidden rounded-xl shadow-lg bg-brand-purple text-white ring-1 ring-gray-900/5">
              <div class="p-4">
                <div class="relative flex gap-x-6 rounded-lg p-4 text-sm leading-6">
                  <ul class="flex-auto">
                    {% for child in item.value.children %}
                      <li>
                        <a href="{{ child.url }}" class="block font-extrabold uppercase hover:text-black">
                          {{ child.text }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

        {% else %}
          <!-- No drop down -->
          <a href="{{ item.value.link }}" class="text-sm font-extrabold uppercase leading-6 text-white hover:text-brand-purple">{{ item.value.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <a href="https://www.yotta.vegas/event/0579a338-8230-4fd3-a868-09d30fd61b34/regPage:f8e11816-9b4f-4438-a598-a8c7e3c1b7f4" class="bg-brand-green px-3.5 py-2.5 text-sm font-extrabold uppercase text-black shadow-sm hover:text-white hover:bg-brand-purple focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-green">Register</a>
  </div>
</nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
<div id="mobile-menu" class="hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0 z-10"></div>
  <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-black px-6 py-6 sm:ring-1 sm:ring-gray-900/10">
    <div class="flex items-center justify-between">
      <a href="#" class="-m-1.5 p-1.5 flex items-center">
        <span class="sr-only">Yotta</span>
        <img class="h-8 w-auto" src="{% static "images/yotta_logo_small.webp" %}" alt="">
        <span class="text-brand-purple text-sm font-bold border-l-2 border-brand-purple pl-2"><p>Oct. 7-9 2024</p> <p>MGM Grand, Las Vegas</p></span>
      </a>
      <button id="close-menu-button" type="button" class="-m-2.5 rounded-md  text-gray-700">
        <span class="sr-only">Close menu</span>
        <svg class="h-6 w-6 text-brand-purple" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          <ul class="-mx-3">
            {% for item in primarynav %}
              {% if item.value.children %}
                <button id="mobile-dropdown-button" type="button" class="-mx-3 flex w-full items-center justify-between rounded-lg py-2 pl-3 text-base font-semibold leading-7 text-white hover:bg-brand-purple" aria-expanded="false">
                  {{ item.value.title }}
                  <svg class="h-5 w-5 flex-none mr-3" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </button>
                <div class="mt-2 space-y-2 hidden">
                  {% for child in item.value.children %}
                    <a href="{{ child.url }}" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-white hover:bg-brand-purple">{{ child.text }}</a>
                  {% endfor %}
                </div>
              {% else %}
                <a href="{{ item.value.link }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-brand-purple">{{ item.value.title }}</a>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</header>
