@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-anti-clock {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotate-clock {
  animation: rotate-clock 50s linear infinite;
}
.rotate-anti-clock {
  animation: rotate-anti-clock 50s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  will-change: transform;
  animation: marquee 250s linear infinite;
}

.sided-gradient {
  mask-image: linear-gradient(
    90deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    transparent 95%
  );
}

.rich-text {
  & > * {
    @apply pt-2
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-5xl font-extrabold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }
  p {
    @apply text-base text-gray-600;
  }
  a {
    @apply text-brand-purple text-xl font-bold underline;
  }
  ul {
    @apply list-disc pl-4 text-brand-purple;
  }
  ol {
    @apply list-disc font-bold text-xl pl-5;
  }
  li {
    @apply text-base;
  }
  blockquote {
    @apply border-l-4 border-gray-300 pl-4;
  }
  pre {
    @apply rounded bg-gray-100 p-4;
  }
  img {
    @apply mx-auto;
  }
}
